<app-dsa-sidenav></app-dsa-sidenav>

<section class="side-nav-div mb-5" *ngIf="!isLoading">
  <div class="container">
    <div class="profile-section">
      <div class="profile-section-card">
        <form id="login-form" [formGroup]="profileForm">
          <div class="profile-title-div">
            <h5 class="profile-title" *ngIf="!edit">Profile</h5>
            <h5 class="profile-title" *ngIf="edit">Edit Profile</h5>

            <div class="profile-edit" (click)="enableEdit()">
              <div class="profile-edit-img-div">
                <img
                  src="../../../../assets/img/Profile/Edit.svg"
                  class="porfile-edit-icon"
                  width="16px"
                />
              </div>
              <h6 class="profile-edit-h6">Edit</h6>
            </div>
          </div>

          <div class="profile-form-div">
            <div class="profile-form-head">
              <div class="profile-form-head-img-div">
                <img
                  src="../../../../assets/img/Profile/Personal Details.svg"
                  class="profile-form-head-img"
                  width="25px"
                />
              </div>
              <h4 class="profile-form-head-h4">Personal Details</h4>
            </div>

            <div class="row profile-form-content-1">
              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="profile-form-img-div">
                    <img src="{{ dpUrl }}" class="profile-form-img" />
                    <a
                      class="image-upload wrapper"
                      id="file"
                      (click)="hiddenfileinput.click()"
                    >
                      <img
                        src="../../../../assets/img/Profile/Camera.svg"
                        class="profile-form-img-icon firstDiv"
                      />
                      <input
                        #hiddenfileinput
                        formControlName="name"
                        (change)="onChange($event)"
                        accept="image/png, image/jpeg, image/jpg, image/webp"
                        type="file"
                      />
                      <small
                        *ngIf="validateProfile('name')"
                        class="form-element-hint"
                        >*Please enter valid Name.</small
                      >
                    </a>
                  </div>
                  <div class="form-input-div">
                    <label class="form-input-label">PAN CARD</label>
                    <input
                      type="text"
                      [value]="personalData.panCard"
                      class="form-input"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">FULL NAME</label>
                    <div class="form-input-group d-flex flex-column">
                      <!-- <select name="name_with_initials">
                        <option selected>Mr.</option>
                        <option>Mrs.</option>
                        <option>Miss.</option>
                      </select> -->
                      <input
                        id="name"
                        type="text"
                        class="form-input"
                        formControlName="name"
                        [(ngModel)]="name"
                        [disabled]="!edit"
                      />
                      <small
                        *ngIf="validateProfile('name')"
                        class="form-element-hint"
                        >*Please enter valid Name.</small
                      >
                    </div>
                  </div>

                  <div class="form-input-div">
                    <label class="form-input-label">DATE OF BIRTH</label>
                    <input
                      type="text"
                      class="form-input form-input-date"
                      formControlName="dateOfBirth"
                    />
                    <small
                      *ngIf="validateProfile('dateOfBirth')"
                      class="form-element-hint"
                      >*Please pick valid Date of Birth.</small
                    >
                  </div>

                  <div class="form-input-div">
                    <label class="form-input-label">EMAIL ID</label>

                    <input
                      type="text"
                      [disabled]="!edit"
                      formControlName="email"
                      class="form-input"
                    />
                    <small
                      *ngIf="validateProfile('email')"
                      class="form-element-hint"
                      >*Please enter valid Mail ID.</small
                    >
                  </div>

                  <div class="form-input-div">
                    <label class="form-input-label">MOBILE NUMBER</label>
                    <input
                      type="text"
                      [value]="personalData.mobileNumber"
                      class="form-input"
                      formControlName="mobileNumber"
                      disabled
                    />
                    <small
                      *ngIf="validateProfile('mobileNumber')"
                      class="form-element-hint"
                      >*Please enter valid Mobile Number.</small
                    >
                  </div>

                  <div class="form-input-div">
                    <label class="form-input-label">Address Line</label>
                    <input
                      type="text"
                      class="form-input"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="!edit"
                      formControlName="addressLine"
                    />
                    <small
                      *ngIf="validateProfile('addressLine')"
                      class="form-element-hint"
                      >*Please enter Valid Address.</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row profile-form-content-1">
              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">LOCALITY</label>
                    <input
                      type="text"
                      class="form-input"
                      [ngModelOptions]="{ standalone: true }"
                      formControlName="locality"
                      [disabled]="!edit"
                    />
                    <small
                      *ngIf="validateProfile('locality')"
                      class="form-element-hint"
                      >*Please Enter Valid Locality.</small
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">CITY</label>
                    <input
                      type="text"
                      class="form-input"
                      formControlName="city"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="!edit"
                    />
                    <small
                      *ngIf="validateProfile('city')"
                      class="form-element-hint"
                      >*Please Enter Valid city.</small
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">LANDMARK</label>
                    <input
                      type="text"
                      class="form-input"
                      [ngModelOptions]="{ standalone: true }"
                      formControlName="landmark"
                      [disabled]="!edit"
                    />
                    <small
                      *ngIf="validateProfile('landmark')"
                      class="form-element-hint"
                      >*Please Enter Valid Landmark.</small
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">STATE</label>
                    <input
                      type="text"
                      class="form-input"
                      [ngModelOptions]="{ standalone: true }"
                      formControlName="state"
                      [disabled]="!edit"
                    />
                    <small
                      *ngIf="validateProfile('state')"
                      class="form-element-hint"
                      >*Please Enter Valid state.</small
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">PINCODE</label>
                    <input
                      type="text"
                      class="form-input"
                      [ngModelOptions]="{ standalone: true }"
                      formControlName="pincode"
                      [disabled]="!edit"
                    />
                    <small
                      *ngIf="validateProfile('pincode')"
                      class="form-element-hint"
                      >*Please Enter Valid pincode.</small
                    >
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">PINCODE</label>
                    <input
                      type="text"
                      class="form-input"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="pincode"
                      [disabled]="!edit"
                    />
                  </div>
                </div>
              </div> -->
            </div>
          </div>

          <div class="profile-form-div">
            <div class="profile-form-head">
              <div class="profile-form-head-img-div">
                <img
                  src="../../../../assets/img/Profile/Professional Details.svg"
                  class="profile-form-head-img"
                />
              </div>
              <h4 class="profile-form-head-h4">Professional Details</h4>
            </div>

            <div class="row profile-form-content-1">
              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">DSA CODE</label>
                    <input
                      type="text"
                      class="form-input"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="!edit"
                      formControlName="dsa"
                    />
                    <small
                      *ngIf="validateProfile('dsa')"
                      class="form-element-hint"
                      >*Please Enter Valid dsa code.</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">PROFILE</label>
                    <select
                      id="cars"
                      name="cars"
                      class="form-input-select"
                      formControlName="profile"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="!edit"
                    >
                      <option value="1">Salaried</option>
                      <option value="2">Self - Business</option>
                    </select>
                    <small
                      *ngIf="validateProfile('profile')"
                      class="form-element-hint"
                      >*Please Enter Valid profile.</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">SETUP</label>
                    <select
                      id="cars"
                      name="cars"
                      class="form-input-select"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="!edit"
                      formControlName="setup"
                    >
                      <option value="1">Salaried</option>
                      <option value="2">Self - Business</option>
                    </select>
                    <small
                      *ngIf="validateProfile('setup')"
                      class="form-element-hint"
                      >*Please Enter Valid setup.</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">PRODUCT</label>
                    <select
                      id="cars"
                      name="cars"
                      class="form-input-select"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="!edit"
                      formControlName="productType"
                    >
                      <option value="1">Salaried</option>
                      <option value="2">Self - Business</option>
                    </select>
                    <small
                      *ngIf="validateProfile('productType')"
                      class="form-element-hint"
                      >*Please Enter Valid Product.</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">SOURCE</label>
                    <select
                      id="cars"
                      name="cars"
                      class="form-input-select"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="!edit"
                      formControlName="source"
                    >
                      <option value="1">Salaried</option>
                      <option value="2">Self - Business</option>
                    </select>
                    <small
                      *ngIf="validateProfile('source')"
                      class="form-element-hint"
                      >*Please Enter Valid source.</small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="profile-form-div">
            <div class="profile-form-head">
              <div class="profile-form-head-img-div">
                <img
                  src="../../../../assets/img/Profile/Professional Details.svg"
                  class="profile-form-head-img"
                />
              </div>
              <h4 class="profile-form-head-h4">Account Details</h4>
            </div>

            <div class="row profile-form-content-1">
              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">ACCOUNT HOLDER NAME</label>
                    <input
                      type="text"
                      class="form-input"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="!edit"
                      formControlName="accountName"
                    />
                    <small
                      *ngIf="validateProfile('accountName')"
                      class="form-element-hint"
                      >*Please Enter Valid Account Name.</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">BANK NAME</label>
                    <input
                      type="text"
                      class="form-input"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="!edit"
                      formControlName="accountBank"
                    />
                    <small
                      *ngIf="validateProfile('accountBank')"
                      class="form-element-hint"
                      >*Please Enter Valid Bank Name.</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">BRANCH NAME</label>
                    <input
                      type="text"
                      class="form-input"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="!edit"
                      formControlName="accountBranch"
                    />
                    <small
                      *ngIf="validateProfile('accountBranch')"
                      class="form-element-hint"
                      >*Please Enter Valid Branch Name.</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">ACCOUNT NUMBER</label>
                    <input
                      type="text"
                      class="form-input"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="!edit"
                      formControlName="accountNumber"
                    />
                    <small
                      *ngIf="validateProfile('accountNumber')"
                      class="form-element-hint"
                      >*Please Enter Valid Account Number.</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="profile-form-content">
                  <div class="form-input-div">
                    <label class="form-input-label">IFSC CODE</label>
                    <input
                      type="text"
                      class="form-input"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="!edit"
                      formControlName="ifsc"
                    />
                    <small
                      *ngIf="validateProfile('ifsc')"
                      class="form-element-hint"
                      >*Please Enter Valid IFSC code.</small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button *ngIf="edit" (click)="submit()" class="profile-submit-button">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
