@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');


* {
  font-family: 'Montserrat', sans-serif;
}



/*----------------------------------------- nav section ------------------------------------------ */

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 18px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 100%;
  height: 60px;
  position: fixed;
}

.nav-logo {
  width: 130px;  
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  position: absolute;
}

.nav-btn {
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  color: #20bf55;
  font-weight: 500;
   border-radius: 7px;
  background-color: #e6eaef;
  outline: none;
  border: none;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  position: absolute;
}


/* hover nav */

.nav-ul.new-ul {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 40%;
  max-width: 250px;
  height: auto;
  position: absolute;
  top: 83px;
  left: 2%;
  transition: 0.5s;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.2);
}

.nav-ul {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 40%;
  height: auto;
  position: absolute;
  max-width: 250px;
  top: 83px;
  left: 2%;
  transition: 0.5s;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.2);
}



.nav-active {
  color: black;
  font-size: medium;
  font-weight: 600;
  transition: 0.5s;
  display: flex;
  background-color: #f1fff5;
  flex-direction: row;
  align-items: center;
}


.nav-ul.new-ul a, .nav-ul a {
  color: black;
  font-size: medium;
  font-weight: 600;
  transition: 0.5s;
  display: flex;
  padding: 3px 5.5px 13px 9.5px;
  border-radius: 7px;
  flex-direction: row;
  align-items: center;
}

.nav-p {
  margin: 10px 0px 0px 20px;
}

.nav-ul{
  padding-left: 5px;
  padding-right: 5px;
}

.nav-li {
  margin: 5px;
}

.nav-icon {
  color: #20bf55;
  margin-top: 10px;
  width: 15px;
  margin-left: 10px;
}

/* .nav-ul {
  display: none;
} */
/* quick card */

.quick-content-div {
  position: absolute;
  top:180%;
  left: 0%;
}

.quick-card {
  width: 250px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.2);
}

.quick-h6 {
  font-size: 12px;
  font-weight: 700;
  color: white;
  background-image: linear-gradient(to right, #20bf55 0%, #01baef);
  padding: 10px 10px;
  width: 100%;
  border-radius: 30px;
  text-align: center;
}

.quick-card-1 {
  display: flex;
  margin: 10px 40px;  
}

.quick-icon {
  color: #20bf55;
  width: 15px;
  margin-bottom: 12px;
}


.quick-p {
  font-size: small;
  font-weight: 500;
  margin-left: 30px;
}


@media only screen and (max-width: 768px) {
  .nav-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 18px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 100%;
  height: 60px;
  position: relative;
}

.nav-logo {
  width: 130px;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.nav-btn {
  display: none;
}




/* hover nav */

.nav-ul.new-ul {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 40%;
  height: auto;
  position: absolute;
  min-width: 220px;
  top: 63px;
  right: 1%;
  left: unset;
  transition: 0.5s;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.2);
}

.nav-active {
  color: black;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s;
  display: flex;
  background-color: #f1fff5;
  flex-direction: row;
  align-items: center;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 40%;
  height: auto;
  left: unset;
  position: absolute;
  min-width: 220px;
  top: 63px;
  right: -41%;
  transition:display 0.5s;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.2);
}


.nav-ul.new-ul a, .nav-ul a {
  color: black;
  font-size: medium;
  font-weight: 600;
  transition: 0.5s;
  display: flex;
  padding: 3px 5.5px 13px 9.5px;
  border-radius: 7px;
  flex-direction: row;
  align-items: center;
}

.nav-p {
  margin: 10px 0px 0px 20px;
}

.nav-ul{
  padding-left: 5px;
  padding-right: 5px;
}

.nav-li {
  margin: 5px;
}

.nav-icon {
  color: #20bf55;
  margin-top: 10px;
  font-size: 10px;
  margin-left: 10px;
}

.nav-ul {
  display: none;
}


/* hover nav */


/* quick card */

.quick-content-div {
  display: none;
}

/* hamburger menu */

.hamburger-menu {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #20bf55;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 2px;
}

.change .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}


/* End hamburger */

}

/*----------------------------------------- end nav section ------------------------------------------ */










/* ----------------------------------------approve section ----------------------------------*/

.approve-section {
  position: relative;
  left: 70%;
  top: 40%;
}

.approve-card {
  width: 400px;
  height: 300px;
  border-radius: 8.6px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}


.approve-h6{
  font-size: 12px;
  text-align: center;
  border-radius: 8.1px 8.1px 0 0;
  background-color: #f0f0f0;
  margin: 0 0 11px;
  padding: 3.4px 5.7px;
} 

.approve-card-div {
  border-radius: 8.6px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.approve-p {
  color: #20bf55;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
}

.approve-content-div-1 {
  display: flex;
  margin-left: 20px
}

.approve-logo {
  width: 130px;
  height: 30px;
}

.approve-h5 {
  font-size: 13px;
  font-weight: 500;
  margin-top: 6px;
}

.approve-content-div-2{
  margin: 25px 10px auto;
}

.approve-content-1 {
  display: flex;
  flex-direction: row;
}

.approve-icon{
  color:#20bf55;
  margin-left: 10px;
}

.approve-p-1{
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color: #999;
  margin-left: 10px;
}

.approve-h6-1{
  color:#20bf55;
  font-size: 12px;
  margin-left: 20px;
}

.approve-btn{
  padding: 4px 20.4px 4px 20.4px;
  background-image: linear-gradient(to right, #20bf55 0%, #01baef 100%);
  border: none;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  color: white;
}

.approve-btn-p {
  margin-bottom: 0px;
}
.approve-btn span {
  font-size: 20px;
  margin-left: 5px;
  color: white;
}


/* ---------------------------------------- end approve section ----------------------------------*/

















/* -----------------------------------factor section ---------------------------------- */

.factor-section {
  position: relative;
  top: 20%;
  left: 50%;
}

.factor-card {
  width: 400px;
  height: 230px;
  padding: 15.9px 34.4px 18.4px 22.8px;
  border-radius: 13.7px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.factor-content-div {
  display: flex;
}

.factor-icon {
  color: #20bf55;
  width: 30px;
}

.factor-text-space {
  margin-left: 20px;
}

.factor-h5{
   font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.factor-h6 {
  color: #20bf55;
  padding: 3px 10px 4px 10px;
  border-radius: 4.8px;
  background-color: #f1fff5;
  font-size: 10px;
  text-align: left;
  width: fit-content;
}

.factor-h2{
  font-size: 25px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 10px;
}

.factor-p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.14;
  text-align: left;
  color: #757575;
  margin-left: 10px;
}

.factor-btn{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  text-align: left;
  color: #20bf55;
  border: none;
  background: transparent;
  margin-top: 20px;
  margin-left: 10px;
}

/* -----------------------------------end factor section ---------------------------------- */















/* -------------------------------loan btn section--------------------------------*/


.loan-btn {
  display: flex;
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 5px 3px 4px 3px;
  border-radius: 27px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  width: 200px
}

.loan-btn.active {
  display: flex;
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 5px 3px 4px 3px;
  border-radius: 27px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #f9fffb;
  width: 200px
}
.loan-btn-div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0fff4;
}

.loan-btn-icon {
  width: 40px;
  top: 50%;
}

.loan-btn-p {
  color: #707070;
  font-size: small;
  font-weight: 600;
  margin: 0px 10px 2px 20px;
  text-align: left;
}

.loan-big-btn-p {
  color: #707070;
  font-size: small;
  font-weight: 600;
  margin: 0px 10px 0px 20px;
  text-align: left;
}

.loan-btn.loan-btn-active .loan-btn-p {
  color: #707070;
  font-size: small;
  font-weight: 700;
  margin: 0px 10px 2px 20px;
  text-align: left;
}

.loan-btn.loan-btn-active .loan-big-btn-p {
  color: #707070;
  font-size: small;
  font-weight: 700;
  margin: 0px 10px 0px 20px;
  text-align: left;
}


/* ------------------------------- end loan btn section--------------------------------*/









/*------------------------------------ credit report section --------------------------------- */


.credit-report-section {
  width: 100%;
}

.credit-report-line {
  width: 100%;
  height: 4px;
  background-color: #e1ffeb;
}

.row>* {
  padding : 0 !important;
  margin: 0 !important;
}

.credit-report-content-div {
  width: 100%;
}

.credit-report-content-1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.credit-report-img {
  width: 100px;
  height: 30px;
}


.credit-report-line-active {
  background-color: #20bf55;
}


@media only screen and (max-width: 768px) {
  

.credit-report-section {
  width: 100%;
}

.credit-report-line {
  width: 100%;
  height: 2px;
  background-color: #e1ffeb;
}

.row>* {
  padding : 0 !important;
  margin: 0 !important;
}

.credit-report-content-div {
  width: 100%;
}

.credit-report-content-1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.credit-report-img {
  width: 70px;
  height: 15px;
}


.credit-report-line-active {
  background-color: #20bf55;
}

}

/*------------------------------------ end credit report section --------------------------------- */







/*------------------------------------ credit report content section --------------------------------- */

.credit-content-section {
  width: 100%;
  margin-top: 40px;
}

.credit-content-h4 {
  font-size: 20px;
   color: #20bf55;
  font-weight: bold;
  text-align: center;
}


/* content div 1 */

.credit-content-div-1{
  margin-top: 80px
}

.credit-content-h6 {
  font-size: 15px;
  font-weight: 700;
}

.credit-content-p{
  font-size: 14px;
  font-weight: 600;
  color: #999999;
}

/* content div 2 */

.credit-content-img-div {
  width: 300px;
  height: 200px;
  margin: 20px auto;
}

.credit-content-img {
  width: 100%;
}


.credit-content-btn {
  display: flex;
  align-items: center;
  border: 2px solid #20bf55;
  border-radius: 10px;
  background-color: transparent;
  padding: 12px 16px;
  margin: 10px auto;
}

.credit-content-icon {
  width: 25px;
}

.credit-content-p-1 {
  font-size: 14px;
  margin-bottom: 0px; 
  margin-left: 20px;
  font-weight: 600;
  color: #20bf55;
}


/* content div 3 */

.credit-content-div-3{
  margin-top: 60px;
}

.credit-content-inner-div {
  display: flex;
  margin-top: 20px;
}

.credit-content-inner-img{
  width: 30px;
}

.credit-content-inner-div-2 {
  margin-left: 20px
}

.credit-content-h5 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
}

.credit-content-p-2 {
  font-size: 12px;
  color: #20bf55;
  font-weight: 600;
  margin-bottom: 0px;
}



@media only screen and (max-width: 1200px) {

  
/* content div 1 */

.credit-content-div-1{
  margin-top: 80px
}

.credit-content-h6 {
  font-size: 13px;
  font-weight: 700;
}

.credit-content-p{
  font-size: 11px;
  font-weight: 600;
  color: #999999;
  width: 90%;
}

  /* content div 2 */

.credit-content-img-div {
  width: 250px;
  height: 160px;
  margin: 20px auto;
}

.credit-content-img {
  width: 100%;
}


.credit-content-btn {
  display: flex;
  align-items: center;
  border: 2px solid #20bf55;
  border-radius: 10px;
  background-color: transparent;
  padding: 8px 7px;
  margin: 0px auto;
}

.credit-content-icon {
  width: 25px;
}

.credit-content-p-1 {
  font-size: 14px;
  margin-bottom: 0px; 
  margin-left: 10px;
  font-weight: 600;
  color: #20bf55;
}

/* content div 3 */

.credit-content-div-3{
  margin-top: 60px;
}

.credit-content-inner-div {
  display: flex;
  margin-top: 20px;
}

.credit-content-inner-img{
  width: 25px;
}

.credit-content-inner-div-2 {
  margin-left: 20px
}

.credit-content-h5 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0px;
}

.credit-content-p-2 {
  font-size: 10px;
  color: #20bf55;
  font-weight: 600;
  margin-bottom: 0px;
}

}


@media only screen and (max-width: 992px) {

  
/* content div 1 */

.credit-content-div-1{
  margin-top: 40px
}

.credit-content-h6 {
  font-size: 10px;
  font-weight: 700;
}

.credit-content-p{
  font-size: 9px;
  font-weight: 600;
  color: #999999;
  width: 90%;
}

  /* content div 2 */

.credit-content-img-div {
  width: 150px;
  height: 100px;
  margin: 20px auto;
}

.credit-content-img {
  width: 100%;
}


.credit-content-btn {
  display: flex;
  align-items: center;
  border: 2px solid #20bf55;
  border-radius: 10px;
  background-color: transparent;
  padding: 5px 5px;
  margin: 0px auto;
}

.credit-content-icon {
  width: 18px;
}

.credit-content-p-1 {
  font-size: 10px;
  margin-bottom: 0px; 
  margin-left: 10px;
  font-weight: 600;
  color: #20bf55;
}

/* content div 3 */

.credit-content-div-3{
  margin-top: 40px;
}

.credit-content-inner-div {
  display: flex;
  margin-top: 20px;
}

.credit-content-inner-img{
  width: 25px;
}

.credit-content-inner-div-2 {
  margin-left: 20px
}

.credit-content-h5 {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 0px;
}

.credit-content-p-2 {
  font-size: 9px;
  color: #20bf55;
  font-weight: 600;
  margin-bottom: 0px;
}

}

@media only screen and (max-width: 768px) {

  .credit-content-section {
  width: 100%;
  margin-top: 20px;
}

  .credit-content-h4 {
  font-size: 14px;
   color: #20bf55;
  font-weight: bold;
  text-align: center;
}



  .credit-content-section {
    position: relative;
    width: 100%;
    height: 400px;
  }

  .credit-content-div-1 {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }

  .credit-content-h6 {
  font-size: 12px;
  font-weight: 700;
}

.credit-content-p{
  font-size: 10px;
  font-weight: 600;
  color: #999999;
}

  .credit-content-div-2 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .credit-content-div-3 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
}



/*------------------------------------ end credit content section --------------------------------- */














/*------------------------------------ credit score section --------------------------------- */

.credit-score-section {
  margin: 100px auto;
  width: 100%;
  box-sizing: border-box;
}

.credit-score-h2 {
  font-size: 28px;
  font-weight: 700;
  text-align: left;
}

.credit-score-h6 {
  color: #808080;
  font-size: 13px;
  font-weight: 500;
  /* text-align: center; */
  margin-left: 80px;
}

.credit-score-inner-div {
  margin-top: 30px;
}

.credit-score-inner-h5 {
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 3px;
}

.credit-score-inner-p {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
}

.credit-score-btn {
  border: none;
  outline: none;
  border-radius: 21.1px;
  background-image: linear-gradient(to right, #20bf55 0%, #01baef 100%);
  padding: 14px 30px;
  color: white;
  font-size: 12px;
  font-weight: 500;
}


@media only screen and (max-width: 1200px) {
  
}

/*------------------------------------ end credit score section --------------------------------- */


