.news-search-card{
  box-shadow: 0 1.5px 5px 0 rgba(0, 0, 0, 0.16);
}


.news-img-icon{
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.news-img-icon img{
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.search-div{
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.search-btn{
  background-color: #FFB300 !important;
  border: none !important;
  font-size: 15px !important;
}


/* dropdown */


.menu,
.drop-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu-item {
  cursor: pointer;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  position: relative;
  border-radius: 5px;
  min-width: 230px;

}
.menu-item a {
  text-decoration: none;
  color: black;
  font-size: calc(12px + 0.3vw);
  font-weight: 600;
  padding: 10px 20px;
  display: block;
  letter-spacing: 0.13px;
}
.drop-menu {
  cursor: pointer;
  border-radius: 4px;
  display: none;
  z-index: 9999;
  position: absolute;
  background-color: #FCFCFC;
  width: 100%;
  top: 110%;
  min-width: max-content;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
}
.drop-menu-item {
  width: 100%;
  /* margin: 2px 5px; */
}
.drop-menu-item:hover {
  background-color: #ffb30020;
}
.drop-menu-item:hover a {
  transform: scale(1.05);
}
.drop-menu-item a {
  color: black;
  margin: 0 10px;
}
.menu-item:hover .drop-menu {
  display: block;
}
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 3px;
  height: 3px;
}
i {
  font-size: medium !important;
}
.menu-item:hover .arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


/* details */


.news-details-card{
  box-shadow: 0 1.5px 5px 0 rgba(0, 0, 0, 0.16);
}

.img-div {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  z-index: 0;
}
.image:hover {
  transition: 0.4s;
  transform: scale(1.05);
}

.image-cover {
  object-fit: cover;
  object-position: center top;
}

.image {
  /* background: #34495E; */
  /* border: 1px solid #34495E; */
  width: 100%;
  transition: 0.4s;
  height: auto;
  aspect-ratio: 2/1;
}

.badge {
  position: absolute;
  z-index: 99;
  bottom: 6px;
  right: 8px;
  color: #253137 !important;
  font-size: calc(10px + 0vw) !important;
  font-weight: 700;
  border-radius: 2px !important;
  padding: 0.3rem !important;
  background-color: #FFB300 !important;
}

h4{
  font-size: calc(10px + 1.3vw);
}

.text-time{
  font-size: calc(9px + 0.3vw);
}


/* market */


.market-ul li{
  list-style-type: none;
}


.market-ul li button.active{
  background-color: #FFB300 !important;
  border-radius: 18px !important;
  border: none;
  font-size: small;
  font-weight: 600;
  color: #ffffff !important;
  padding: 5px 10px 7px 10px;
}

.market-ul li button{
  background-color: transparent !important;
  border-radius: 18px !important;
  border: none;
  font-size: small;
  font-weight: 600;
  color: #333 !important;
}

.market-card {
  box-shadow: 0 1.5px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  width: 300px !important;
  max-width: 215px !important;
  cursor: pointer;
}

.market-card-img-div{
  border: 1px solid #333;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  max-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.market-card-img{
  width: 20px;
  height: 20px;
  max-width: 20px;
}
.market-h6{
  font-size: small;
}

.market-yellow-h6{
  color: #FFB300;
  font-size: small;
}

.market-p{
  font-size: x-small;
  font-weight: 500;
}

.market-card-content-div



.market-card-content-div{
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll !important;
  overflow-x: scroll !important;
}
.market-card-content-div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}